body {
    text-align: center;
    background-image: url(../images/fondo.png);
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: "Pirata One", cursive;
    font-style: normal;
    color:$color-cuaternario;
    .header_bootstrap {
        font-size:nth($font-size, 5);
        font-weight: 150;
        display: grid;
        place-items: center;

        h1 {
        color:$color-cuaternario;
        font-size: 50px;
        font-weight: 150;
        text-align: center;
        }

        .img_logo {
        width: 150px;
        height: 150px;
        &:hover {
            transform: rotatey(360deg);
            transition: 2s;
            animation-timing-function: ease-out;
        }
        }
        nav {
        .container-fluid {
            background-color:$color-terciario;
            .navbar-toggler-icon {
            span {
                background-color:$color-terciario;
            }
            }
            div {
            ul {
                li {
                a {
                    color: rgb(255, 255, 255);
                    &:hover {
                    color:$color-secundario;
                    transform: scale(1.1);
                    transition: 1s;
                    }
                }
                }
            }
            }
        }
        }
    }
    }
