.main_contacto {
    font-size:nth($font-size, 1);
    font-weight: 150;
    text-align: center;
    }
    .hero {
    a {
        display: none;
    }
    width: 100%;
    height: 500px;
    font-size:nth($font-size, 2);
    text-align: center;
    font-weight: 30;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "texto mapa"
        "subtitulo subtitulo";
    padding-bottom: 10%;
    p {
        padding-right: 15%;
        padding-top: 10%;
        font-size:nth($font-size, 3);
        text-align: center;
        padding-left: 15%;
        grid-area: texto;
    }
    .map_div {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 3px solid rgb(0, 0, 0);
        width: 500px;
        height: 500px;
        grid-area: mapa;
        .map {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 3px solid rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        }
    }
    }
    .productos {
    text-align: center;
    text-decoration: none;
    section {
        .productos_subtitulo {
            font-size:nth($font-size, 1);
        font-weight: 100;
        font-style: oblique;
        padding-top: 50px;
        }
        .productos_contenedor {
        padding-top: 50px;
        flex-direction: row;
        justify-content: space-around;
        @extend %flex;
        div {
            border-radius: 10px 10px 10px 10px;
            border: 5px solid rgb(0, 0, 0 );
            width: map-get($tarjetas, ancho);
            height: map-get($tarjetas, alto);
            margin: 30px;
            text-align: center;
            img {
            width: map-get($tarjetas, ancho-imagen);
            height: map-get($tarjetas, alto-imagen);
            }
            h3 {
            margin-bottom: 20px;
            color:$color-cuaternario;
            }
            a {
            border-radius: map-get($tarjetas, border-radius);
            color:$color-cuaternario;
            text-decoration: none;
            font-weight: bold;
            background-color:$color-primario;
            padding: 5px 10px;
            }
        }
        }
    }
    }
    body {
    .galeria {
        text-decoration: none;
        justify-content: center;
        flex-direction: column;
        @extend %flex;
        .galeria_disponibles {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        @extend %grid;
        div {
            margin: 1px;
            padding: 10px;
            &:hover {
            transform: scale(1.1);
            padding: 10px;
            transition: 1s;
            }
            img {
            width: 340px;
            height: 340px;
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 7px solid rgb(0, 0, 0);
            }
        }
        }
    }
    }

    .cuidados_main {
    .texto_cuidados {
        font-size:nth($font-size, 4);
        text-align: left;
        font-weight: 30;
    }
    .listas_cuidados {
        li {
        text-decoration: underline;
        font-size:nth($font-size, 2);
        text-align: left;
        font-weight: 40;
        }
        p {
            font-size:nth($font-size, 4);
        text-align: left;
        font-weight: 30;
        }
    }
    div {
        img {
        height: fit-content;
        width: 700px;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 7px solid rgb(0, 0, 0);
        }
    }
    }
