@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

* {
    margin: 0%;
    padding: 0%;
}

.animate__animated {
    font-size: 60px;
    font-weight: 100;
}

.subtitulo {
    padding-top: 20px;
    font-size: 40px;
    font-weight: 100;
    grid-area: subtitulo;
    }